<div class="add-wrapper mt-5 mb-3 form-inline">
  <input type="text" placeholder="To do" class="form-control" [(ngModel)]="name" [ngClass]="{'border-danger': inputErrorStatus}" (keyup.enter)="initClick()">
  <button class="btn btn-primary ml-3" (click)="initClick()">Add</button>
</div>
<p class="text-danger" *ngIf="inputErrorStatus">Input value is empty. This required.</p>

<h2>To-do List</h2>

<ul>
  <li *ngFor="let item of listItem">{{ item.name }} - <a class="text-danger" (click)="removeItem(item.id)">Sil</a></li>
</ul>
